<nav class="footer-section footer-section-nav">
  <div class="footer-section-container">

    <h1><%= t "footer.nav.heading" %></h1>

    <dl>
      <dt class="nav-label nav-label-articles">
        <%= link_to t("footer.nav.articles.label"),   %i[library] %>
        <b><%= link_to t("footer.nav.articles.feed"), %i[feed] %></b>
      </dt>
      <dd>
        <% %w[arts adventure analysis current_events history how_to news technology].each do |category| %>
          <%= link_to t("footer.nav.articles.#{category}"), [:category, slug: category.dasherize] %>
        <% end %>
      </dd>

      <dt class="nav-label nav-label-articles">
        <%= link_to t("footer.nav.tools.label"), %i[tools] %>
      </dt>
      <dd>
        <% %w[zines to_change_everything steal_something_from_work_day].each do |tool| %>
          <%= link_to t("footer.nav.tools.#{tool.to_sym}"), [tool.to_sym] %>
        <% end %>
      </dd>

      <dt class="nav-label nav-label-languages" id="languages"><%= link_to t("header.languages"), [:languages] %></dt>
      <dd>
        <% Locale.live.each do |locale| %>
          <%= link_to locale.name, [:language, locale: locale.name.downcase.gsub(' ', '-')] %>
        <% end %>
      </dd>
    </dl>
  </div>
</nav>
